Chinese_Chess/.vs/
Chinese_Chess/Debug/
Chinese_Chess/Chinese_Chess/x64/
Chinese_Chess/Chinese_Chess/Debug/
Chinese_Chess/.vs/Chinese_Chess/v14/.suo
Chinese_Chess/Chinese_Chess.VC.db
Chinese_Chess/Debug/Chinese_Chess.exe
Chinese_Chess/Debug/Chinese_Chess.ilk
Chinese_Chess/Debug/Chinese_Chess.pdb
Chinese_Chess/.vs/Chinese_Chess/v14/.suo
Chinese_Chess/Chinese_Chess.VC.db
Chinese_Chess/Chinese_Chess/x64/Debug/Board.obj
Chinese_Chess/Chinese_Chess/x64/Debug/Chinese_Chess.log
Chinese_Chess/Chinese_Chess/x64/Debug/Chinese_Chess.tlog/Chinese_Chess.lastbuildstate
Chinese_Chess/Chinese_Chess/x64/Debug/Chinese_Chess.tlog/CL.command.1.tlog
Chinese_Chess/Chinese_Chess/x64/Debug/Chinese_Chess.tlog/CL.read.1.tlog
Chinese_Chess/Chinese_Chess/x64/Debug/Chinese_Chess.tlog/CL.write.1.tlog
Chinese_Chess/Chinese_Chess/x64/Debug/Chinese_Chess.tlog/link.command.1.tlog
Chinese_Chess/Chinese_Chess/x64/Debug/Chinese_Chess.tlog/link.read.1.tlog
Chinese_Chess/Chinese_Chess/x64/Debug/Chinese_Chess.tlog/link.write.1.tlog
Chinese_Chess/Chinese_Chess/x64/Debug/File.obj
Chinese_Chess/Chinese_Chess/x64/Debug/Game.obj
Chinese_Chess/Chinese_Chess/x64/Debug/Log.obj
Chinese_Chess/Chinese_Chess/x64/Debug/Main.obj
Chinese_Chess/Chinese_Chess/x64/Debug/vc140.idb
Chinese_Chess/Chinese_Chess/x64/Debug/vc140.pdb
Chinese_Chess/Debug/Chinese_Chess.exe
Chinese_Chess/Debug/Chinese_Chess.ilk
Chinese_Chess/Debug/Chinese_Chess.pdb
Chinese_Chess/Chinese_Chess/Debug/Board.obj
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.log
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/Chinese_Chess.lastbuildstate
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/CL.command.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/CL.read.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/CL.write.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/link.command.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/link.read.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/link.write.1.tlog
Chinese_Chess/Chinese_Chess/Debug/File.obj
Chinese_Chess/Chinese_Chess/Debug/Game.obj
Chinese_Chess/Chinese_Chess/Debug/Log.obj
Chinese_Chess/Chinese_Chess/Debug/Main.obj
Chinese_Chess/Chinese_Chess/Debug/Point.obj
Chinese_Chess/Chinese_Chess/Debug/vc140.idb
Chinese_Chess/Chinese_Chess/Debug/vc140.pdb
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.log
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/CL.read.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/link.read.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Main.obj
Chinese_Chess/Chinese_Chess/Debug/vc140.idb
Chinese_Chess/Chinese_Chess/Debug/vc140.pdb
Chinese_Chess/Debug/Chinese_Chess.exe
Chinese_Chess/Debug/Chinese_Chess.ilk
Chinese_Chess/Debug/Chinese_Chess.pdb
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.log
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/CL.read.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/link.read.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Main.obj
Chinese_Chess/Chinese_Chess/Debug/vc140.idb
Chinese_Chess/Chinese_Chess/Debug/vc140.pdb
Chinese_Chess/Debug/Chinese_Chess.exe
Chinese_Chess/Debug/Chinese_Chess.ilk
Chinese_Chess/Debug/Chinese_Chess.pdb
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.log
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/CL.read.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Chinese_Chess.tlog/link.read.1.tlog
Chinese_Chess/Chinese_Chess/Debug/Main.obj
Chinese_Chess/Chinese_Chess/Debug/vc140.idb
Chinese_Chess/Chinese_Chess/Debug/vc140.pdb
Chinese_Chess/Debug/Chinese_Chess.exe
Chinese_Chess/Debug/Chinese_Chess.ilk
Chinese_Chess/Debug/Chinese_Chess.pdb
*.log
*.tlog
*.obj
*.idb
*.ipch
*.pdb
*.exe
*.db
*.ilk
*.opendb
*.suo
*.rer~
*.vzs~
*.txt
